.navbar{
    color: black;
    background: #fff;
    width: 100%;
    height: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    cursor: pointer;
}

/* logo css */

.logo img{
    height: 60px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    color: blue;
}
/* nav-link css */

.nav-link{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: blue;
    text-decoration: underline;
}

/* nav-btn css */
.nav-btn{
    color: #fff;
    background: blue;
    height: 50px;
    width: 140px;
    border: 2px solid blue;
    border-radius: 10px;
    transition: 0.2s;
}
.nav-btn:active {
    transform: scale(0.95);
    background: darkblue;
}