.navbar{
    color: black;
    background: #fff;
    font-size: 15px;
    /* width: 100%; */
    height: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    cursor: pointer;
}

/* logo css */

.logo img{
    height: 60px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    color: #1465e6;;
}
.logo h3{
    color: #1465e6;
    text-align: left;
}
.logo-text{
    display: flex;
    flex-direction: column;
}
.logo-text h2,
.logo-text h3 {
    margin: 0;
}
/* links */
.links{
    display: flex;
    align-items: center;
    gap: 40px; 
}
/* nav-link css */

.nav-link{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    
}
.nav-link a{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: #1465e6;
    text-decoration: underline;
    text-underline-offset: 10px; 
}

/* nav-btn css */
.nav-btn{
    color: #fff;
    background: #1465e6;
    height: 40px;
    width: 140px;
    border: 2px solid #1465e6;
    border-radius: 10px;
    transition: 0.2s;
}
.nav-btn:active {
    transform: scale(0.95);
    background: darkblue;
}